<!-- <hello name="{{ name }}"></hello> -->
<div class="popup" fxLayout="column" fxFlex="100">
  <div style="padding: 20px;" fxLayout="row" fxLayoutAlign="space-between center">
    <h2 >Videos</h2>
    <button (click)="openDialog()" mat-raised-button>Add Video Info</button>
  </div>
  <div style="padding-left: 20px;" fxFlex="100" fxLayoutAlign="start center" fxLayout="row wrap" fxLayoutGap="16px"  >
    <div *ngFor="let video of myVideos index as i" fxLayout="column" fxFlex="23">
      <div>{{i+1}}.{{video.Title}}</div>
      <video style="padding-bottom: 20px;" poster="assets/LULA.png" fxFlex="100" fxFlex.lt-md="85"  controls (canplay)="pauseVideo(videoplayer)" #videoPlayer>
        <source src="{{video.VideoUrl}}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>

  </div>

</div>

